{% extends 'app/base.html' %}

{% block content %}
<main role="main" class="container">
    <div class="jumbotron">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h3>Загрузка файлов</h3>
                        <form method="post" enctype="multipart/form-data">
                            {% csrf_token %}
                            {{form.as_p}}
                            <button type="submit"> Submit</button>
                        </form>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
{% endblock %}
