{% extends 'app/base.html' %}

{% block content %}
<main role="main" class="container">
    <div class="jumbotron">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <form class="form-signin" method="post">
                            {% csrf_token %}
                            <h3 class="h3 mb-3 font-weight-normal">Регистрация</h3>
                            {% for f in form %}
                            <p><label class="form-label" for="{{ f.id_for_label }}">{{f.label}}: </label>{{f}}</p>
                            {{f.errors}}
                            {% endfor %}
                            <div class="checkbox mb-3">
                                <label>
                                    <input type="checkbox" value="remember-me"> Remember me
                                </label>
                            </div>
                            <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
{% endblock %}